/**
 * Variables: Colors
 * -----------------------------------------------------------------------------
 * CSS Variables mapped from SCSS variables
 *
 */

:root {
  --theme-shade0: #{$THEME_SHADE0};
  --theme-shade7: #{$THEME_SHADE7};
  --theme-accent0: #{$THEME_ACCENT0};
  --theme-accent1: #{$THEME_ACCENT1};
  --theme-accent2: #{$THEME_ACCENT2};
  --theme-accent3: #{$THEME_ACCENT3};
  --theme-accent4: #{$THEME_ACCENT4};
  --theme-accent5: #{$THEME_ACCENT5};
  --theme-accent6: #{$THEME_ACCENT6};
  --theme-accent7: #{$THEME_ACCENT7};
}
