/**
 * Config: Colors
 * -----------------------------------------------------------------------------
 * Universal variables that have common roles and usages throughout the theme.
 *
 */

/**
 * THEMER.
 */
$THEME_SHADE0: #232931;
$THEME_SHADE7: #e7e8e6;
$THEME_ACCENT0: #f59597;
$THEME_ACCENT1: #f2a680;
$THEME_ACCENT2: #f3de8a;
$THEME_ACCENT3: #a6df8b;
$THEME_ACCENT4: #73deff;
$THEME_ACCENT5: #00c6f2;
$THEME_ACCENT6: #ff6699;
$THEME_ACCENT7: #4ef9c6;

/**
  * Typography.
  */
$COLOR_TEXT_WHITE: rgba(255, 255, 255, 1);
$COLOR_TEXT_LIGHT: rgba(148, 148, 148, 1);
$COLOR_TEXT_DARK: rgba(0, 0, 0, 1);

/**
  * Background / Surfaces / Borders.
  */
$COLOR_BACKGROUND_BEIGE: rgba(244, 240, 238, 1);
$COLOR_BACKGROUND_BLUE_TINT: rgba(235, 238, 245, 1);
$COLOR_BACKGROUND_DARK: rgba(30, 30, 28, 1);
$COLOR_BACKGROUND_LIGHT: rgba(247, 247, 247, 1);
$COLOR_BACKGROUND_SECONDARY: rgba(0, 0, 0, 1);
$COLOR_BACKGROUND_WHITE: rgba(255, 255, 255, 1);
$COLOR_BACKGROUND_YELLOW_TINT: rgba(255, 240, 229, 1);

$COLOR_BORDER_BEIGE: rgba(229, 226, 224, 1);
$COLOR_BORDER_DARK: rgba(173, 173, 173, 1);
$COLOR_BORDER_LIGHT: rgba(239, 239, 239, 1);
$COLOR_BORDER_BLUE: rgba(220, 223, 229, 1);

/**
  * Support.
  */
$COLOR_SUPPORT_ERROR: $THEME_ACCENT6;
$COLOR_SUPPORT_FOCUS: $THEME_ACCENT5;
$COLOR_SUPPORT_NOTE: rgba(0, 0, 0, 1);
$COLOR_SUPPORT_SUCCESS: $THEME_ACCENT3;
$COLOR_SUPPORT_WARNING: $THEME_ACCENT1;
