/**
 * Config: Spacing
 * -----------------------------------------------------------------------------
 * Used for smaller, more refined spacing situations, specifically
 * within the context of a component (ie. the space between a label and a Text Input).
 *
 */
 $SPACING_3XS: 0.125rem; // 2px
 $SPACING_2XS: 0.25rem; // 4px
 $SPACING_XS: 0.5rem; // 6px
 $SPACING_S: 0.75rem; // 12px
 $SPACING_M: 1rem; // 16px
 $SPACING_L: 1.25rem; // 20px
 $SPACING_XL: 1.5rem; // 24px
 $SPACING_2XL: 1.75rem; // 28px
 $SPACING_3XL: 2rem; // 32px
 $SPACING_4XL: 2.5rem; // 40px
 $SPACING_5XL: 3rem; // 48px
 